build==1.2.2.post1
certifi==2025.4.26
charset-normalizer==3.4.1
dnspython==2.7.0
idna==3.10
packaging==25.0
pyproject_hooks==1.2.0
python3-resolver==1.0.3
requests==2.32.3
Sublist3r==1.0
tomli==2.2.1
urllib3==2.4.0
whois==1.20240129.2
